---
title: "Home"
layout: splash
permalink: /
date: 2018-05-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/thailandbeach.jpg
excerpt: "InfoSec, Privacy, Cloud Computing, CorpIT, macOS and more..."
intro: 
  - excerpt: 'Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque. Quis nulla, netus tempor in diam gravida tincidunt, *proin faucibus* voluptate felis id sollicitudin.'
feature_row:
  - image_path: assets/images/wildpacific.jpg
    alt: "Wild Pacific Trail"
    title: "Information Security"
    excerpt: ""
  - image_path: /assets/images/saintmariesurmer.jpg
    alt: "Saint Marie sur Mer"
    title: "Corporate IT"
    excerpt: ""
  - image_path: /assets/images/cliffsofmoher.jpg
    alt: "Cliffs of Moher"
    title: "Cloud Computing"
    excerpt: ""
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}